.App {
  text-align: center;
  background-color: cadetblue;
}

.KotakSearch{
  background-color: cadetblue;
}

.KotakPlayer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  margin: 3vw 0px;
}

.KotakForm {
  display: flex;
  flex-direction: column;
}

.Datauser {
  width: 25vw;
  background-color: burlywood;
  border-style: solid;
  border-width: 1px 0px;
}

.ButtonApp {
  margin-bottom: 2vw;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
